[Unit]
Description=Tailscale DERP Server
After=network.target

[Service]
Type=forking
TimeoutSec=120
EnvironmentFile=/opt/derper/env
ExecStart=/opt/derper/derper.sh --start
ExecStop=/opt/derper/derper.sh --stop
Restart=on-failure
User=derper

[Install]
WantedBy=multi-user.target
