VERBOSE=0
DERP_DIR=/opt/derper
DERP_HOST=foo.link
DERP_PORT=33333
DERP_CONN_LIMIT=100
DERP_VERIFY_CLENTS=1
DERP_CONF=/opt/derper/derper.conf
CERT_DIR=/opt/derper/cert
CERT_DAYS=36500

# china may need it
# GOPROXY=https://goproxy.io
